@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font ធម្មតា */
@font-face {
  font-family: 'Noto Sans Khmer';
  src: url('/fonts/NotoSansKhmer-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Font ដិត (Bold) */
@font-face {
  font-family: 'Noto Sans Khmer';
  src: url('/fonts/NotoSansKhmer-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* បង្ខំឱ្យ Nextra និងគ្រប់ Element ទាំងអស់ប្រើ Font នេះជាដាច់ខាត */
:root {
  --nextra-font-sans: 'Noto Sans Khmer', sans-serif !important;
}

* {
  font-family: 'Noto Sans Khmer', sans-serif !important;
}

code, pre, kbd {
  font-family: monospace !important;
}