@tailwind base;
@tailwind components;
@tailwind utilities;

/* កំណត់ Font ផ្ទាល់ពី Local Server (Folder public/fonts) */
@font-face {
  font-family: 'Noto Sans Khmer Local';
  src: url('/fonts/NotoSansKhmer.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --nextra-font-sans: 'Noto Sans Khmer Local', sans-serif !important;
}

/* បង្ខំឱ្យ Element ទាំងអស់ទាញយក Font ក្នុង Server យើង */
*,
*::before,
*::after,
html,
body {
  font-family: 'Noto Sans Khmer Local', system-ui, -apple-system, sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

code,
pre,
kbd {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace !important;
}